@media screen and (min-width: 800px) {

    body {
        background: rgb(98,124,54);
        background: linear-gradient(180deg, rgba(98,124,54,1) 0%,rgba(142,180,78,1) 50%,rgba(255,200,81,100) 100%);
        color: #362822;
        margin: 0;
        font-family: 'Alata';
        
    }

    button {
        background-color: #ffc851;
        color: #362822;
        font-size: 20px;
        padding: 17.5px 30px;
        border-radius: 10px;
        border: 2px solid #B9CD90;
    }

    button:hover {
        transition-duration: 0.5s;
        background-color: #D9AF52;
        color: solid #D9AF52;
    }
    
    header {
        background-color: #304922;
        padding: 1px;
        font-weight: bolder;
        font-size: 20px;
        text-align: center;
        color: #8EB44E;
    }

    ul {
        padding-inline-start: 0;
    }

    .column {
        float: left;
        text-align: center;
        margin-bottom: 20px;
        border-radius: 4px;
    }

    .column-left, .column-right {
        width: 20%;
        height: 500px;
        background-color: #B9CD90;
        visibility: hidden;

    }

    .column-left {
        overflow-y: scroll;
        overflow-x: hidden;
        margin-left: 5%;
        border: 6px solid #EC615F;
        border-right: none;
    }

    .column-left h3 {
        font-size: 22px;
    }

    .column-left p {
        font-size: 15px;
    }

    .column-middle {
        width: 50%;
        border: 6px solid #EC615F;
    }

    .column-right {
        border: 6px solid #EC615F;
        border-left: none;
        
    }
    
    .radio-group {
        display: inline-block;
        text-align: center;
    }

    .radio-group label {
        display: block;
    }

    .result {
        padding-bottom: 3%;
        border-bottom: 6px solid #EC615F;
    }

    .result-label {
        text-align: left;
        padding-left: 10%;
        font-size: 20px;
    }

    .results-unordered-list {
        list-style-type: none;
    }

    .row {
        padding-top: 5%;
    }
    
    .search {
        text-align: center;
        padding-top: 1%;
    }

    .search-bar {
        width: 50%;
        font-size: 25px;
        line-height: 50px;
        box-sizing: border-box;
        border: 4px #D9AF52;
        border-radius: 4px;
        background-color: #B9CD90;
        color: #362822
    }

    .search-geolocation {
        margin-top: 0.5%;
    }

    .scroller-report {
        visibility: hidden;
    }

    .scroller-review {
        padding-left: 60%;
        text-align: center;
        width: 20%;
    }

    .search-geolocation-error {
        visibility: hidden;
    }

    .review-name-input {
        padding-bottom: 1%;
        width: 50%;
        font-size: 15px;
        line-height: 25px;
        box-sizing: border-box;
        border: #304922;
        border-radius: 4px;
        background-color: #B9CD90;
        color: #362822;
    }

    #map { 
        height: 500px;
    }




}

/*
format the review column
make scroll bar mustard
*/