@media screen and (min-width: 800px) {

    body {
        background-color: #8EB44E;
        color: #362822;
        margin: 0;
    }
    
    header {
        background-color: #304922;
        padding: 1vw;
    }

    .column {
        float: left;
        text-align: center;
        border: 1px solid black;
    }

    .column-left, .column-right {
        width: 24%;
        height: 500px;
    }

    .column-left {
        overflow: scroll;
        
    }

    .column-right {
        visibility: hidden;
    }

    .column-middle {
        width: 50%;
    }

    .radio-group {
        display: inline-block;
        text-align: center;
    }

    .radio-group label {
        display: block;
    }

    .row {
        padding-top: 5%;
    }
    
    .search {
        text-align: center;
    }

    .scroller-report {
        visibility: hidden;
    }

    .scroller-review {
        padding-left: 60%;
        text-align: center;
        width: 20%;
    }

    .search-geolocation-error {
        visibility: hidden;
    }

    #map { 
        height: 500px;
    }

    #results-list li {
        border: 1px solid green;
    }


}