@media screen and (max-width: 768px) {
    .css-grid-container {
        height: 90vh;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 2fr 2fr 1fr 1fr 1fr;
    }

    .cell-1 {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .cell-2 {
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .cell-3 {
        grid-row: 4;
        grid-column: 1;
    }

    .cell-4 {
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .cell-5 {
        grid-row: 4;
        grid-column: 2;
    }

    .cell-6 {
        grid-row: 5;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .cell-7 {
        grid-row: 7;
        grid-column-start: 1;
        grid-column-end: 3;
	}
	
	.cell-8 {
		grid-row: 6;
		grid-column-start: 1;
		grid-column-end: 3;
		text-align: center;
	}

    body {
		background: rgb(98, 124, 54);
		background: linear-gradient(180deg, rgba(98, 124, 54, 1) 0%, rgba(142, 180, 78, 1) 50%, rgba(255, 200, 81, 100) 100%);
		color: #362822;
		margin: 0;
		font-family: 'Alata';
		background-repeat: no-repeat;
		background-attachment: fixed;
		padding-bottom: 1%;
	}
	button {
		background-color: #ffc851;
		color: #362822;
		font-size: 2.6vw;
		padding: 2vw 2.8vw;
		border-radius: 1vw;
        border: 0.1vw solid #B9CD90;
        font-weight: bold;
	}
	button:hover {
		transition-duration: 0.5s;
		background-color: #D9AF52;
		color: solid #D9AF52;
		
	}
	html {
		height: 100%;
	}
	input {
		font-family: 'Alata';
	}
	td {
		width: auto;
	}
	::placeholder {
		color: #363230
	}
	::-webkit-scrollbar {
		width: 2.5vw;
		background-color: #B9CD90;
	}
	::-webkit-scrollbar-thumb {
		background-color: #ffc851;
		border-radius: 1vw;
		-webkit-box-shadow: inset 0 0 0.6vw rgba(0, 0, 0, 0.3);
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: #D9AF52;
	}
	::-webkit-scrollbar-track {
		background-color: #B9CD90;
		-webkit-box-shadow: inset 0 0 0.6vw rgba(0, 0, 0, 0.3);
		border-radius: 1vw;
	}
    /*HEADER*/
    header {
        background-color: #304922;
        font-weight: bolder;
        font-size: 1.8vw;
        color: #8EB44E;
    }
    .header-logo {
		width: 50%;
		margin-left: 25%;
		margin-right: auto;
    }
    /*KEY*/

    .veganism-key {
        display: none;
    }
	/*SEARCH BAR*/
	.search {
		text-align: center;
		padding-top: 1%;
	}
	.search-bar {
		width: 50%;
		font-size: 5vw;
		box-sizing: border-box;
		border: 0.35vw solid #304922;
		border-radius: 0.2vw;
		background-color: #B9CD90;
		color: #362822;
	}
	.search-geolocation {
		margin-top: 0.5%;
	}
	.search-geolocation-error {
		visibility: hidden;
		display: block;
    }
    	/*TRICOLUMN*/
	.tri-column {
		text-align: center;
		margin-bottom: 0.5vh;
		border-radius: 0.5vw;
	}
	.cell-3,
	.cell-5 {
		background-color: #B9CD90;
		visibility: hidden;
		overflow-y: scroll;
        overflow-x: hidden;
        height: 35vh;
    }
    	/*MAP*/
	.cell-4 {
        border: 1vw solid #EC615F;
        margin-left: 1vw;
        margin-right: 1vw;
	}
	#map {
		height: 35vh;
    }
    
    	/*LEFT COLUMN*/
	ul {
		padding-inline-start: 0;
	}
	.cell-3 {
		margin-left: 1vw;
		border: 1vw solid #EC615F;
		
	}
	.cell-3 h3 {
		font-size: 4vw;
	}
	.cell-3 p {
		font-size: 3vw;
	}
	.result-image {
		height: 15vh;
		width: 40vw;
	}
	.result {
		padding-bottom: 3%;
		border-bottom: 0.5vw solid #EC615F;
	}
	.result-label {
		text-align: left;
		padding-left: 10%;
        font-size: 3vw;
        margin-block-start: 1vw;
	}
	.result-star-span img {
		height: 3vw;
		width: 3vw;
	}
	.results-unordered-list {
		list-style-type: none;
    }
    
    	/*RIGHT COLUMN*/
	.cell-5 {
		border: 1vw solid #EC615F;
		border-left: none;
		margin-right: 1vw;
    }
    
    .cell-5 h2 {
        font-size: 5vw;
    }

    .cell-5 h4 {
        font-size: 4vw;
        margin-bottom: 1.5vw;
    }
	/*Interactive Star Rating, an adapted custom mix between the code from:
    Ashley Watson-Nolan: https://codepen.io/ashleynolan/pen/MyqrPr
    and Firman Fathoni: https://code.sololearn.com/Wd7jFWd60ynn/ */
	.review-star {
		background-image: url("../images/stars/star.svg");
	}
	.review-star,
	.review-vegan {
		position: absolute;
		top: 0;
		width: 8vw;
		height: 8vw;
		background-size: auto 8vw;
		background-repeat: no-repeat;
		cursor: pointer;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
	.review-star-1,
	.review-vegan-1 {
		left: -5vw;
	}
	.review-star-2,
	.review-vegan-2 {
		left: 0;
	}
	.review-star-3,
	.review-vegan-3 {
		left: 5vw;
	}
	.review-star-4,
	.review-vegan-4 {
		left: 10vw;
	}
	.review-star-5,
	.review-vegan-5 {
		left: 15vw;
	}
	.review-star:hover,
	.review-star:hover~.review-star,
	input:checked~.review-star {
		background-image: url("../images/stars/star.svg");
	}
	.review-vegan {
		background-image: url("../images/stars/star.svg");
	}
	.review-vegan:hover,
	.review-vegan:hover~.review-vegan,
	input:checked~.review-vegan {
		background-image: url("../images/stars/star.svg");
	}
	.veganism-rating-control,
	.user-rating-control {
		position: relative;
		width: 12vw;
		height: 2vw;
		user-select: none;
		margin: 0 auto;
	}
	.veganism-rating-control input,
	.user-rating-control input {
		visibility: hidden;
	}
	/*End of Interactive Star Code*/
	.review-comment-input {
		height: 10%;
	}
	.review-message {
        display: none;
        position: absolute;
        left: 50%;
        right: 1px;
	}
	.review-comment-input,
	.review-name-input {
		width: 75%;
		font-size: 4vw;
		box-sizing: border-box;
		border: 0.5vw solid #304922;
		border-radius: 0.8vw;
		background-color: #B9CD90;
		color: #362822;
		font-family: 'Alata';
    }
    
    .review-name-input {
        margin-top: 4vh;
    }
	.review-required {
		color: red;
		display: inline;
	}
	.veganism-rating-control {
		padding-bottom: 7.5%;
    }
    
    	/*COMMENT SCROLLER*/
	.cell-6 {
		margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 1vw;
        margin-right: 1vw;
	}
	.cell-6 h3 {
		font-size: 4vw;
	}
	.cell-6 p {
		font-size: 4vw;
	}
	.scroller-author {
		font-style: italic;
	}
	.scroller-report {
        visibility: hidden;
        
	}
	.scroller-review {
		text-align: center;
		border-radius: 1vw;
		visibility: hidden;
		background-color: rgba(236, 97, 95, 0.75);
		padding-bottom: 1%;
	}
	.scroller-review-middle {
		width: 50%;
	}
	.scroller-review-outer {
		width: 25%;
	}
	.scroller-review button {
		border: none;
		background-color: transparent;
		color: #ffc851;
		text-decoration: underline;
		font-size: 2.5vw;
    }
    
    /*FOOTER*/
    footer {
        text-align: center;
    }
}